Package: com.ps.polyfills
Name: Polyfills
Version: 2.30.0
Architecture: iphoneos-arm
Description: Injects JavaScript Polyfills to iOS web views.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 8.0), preferenceloader, com.ps.polyfillsregexp (>= 1.3.1), com.ps.customsecheaders | firmware (>= 16.4)
Depiction: https://poomsmart.github.io/repo/depictions/polyfills.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/polyfills.json
